.card-style {
    border-radius: 8px;
}

.card-style-1 {
    background-image: url(images/landing/sm-banner-1.jpg);
    background-size: cover !important;
    background-position: center center !important;
    border-radius: 8px;
}

.card-style-2 {
    background-image: url(images/landing/sm-banner-2.jpg);
    background-size: cover !important;
    background-position: center center !important;
    border-radius: 8px;
}

.card-style-3 {
    background-image: url(images/landing/sm-banner-3.jpg);
    background-size: cover !important;
    background-position: center center !important;
    border-radius: 8px;
}

.card-style-4 {
    background-image: url(images/landing/md-banner-1.jpg);
    background-size: cover !important;
    background-position: center center !important;
    border-radius: 8px;
}

.card-style-5 {
    background-image: url(images/landing/md-banner-2.jpg);
    background-size: cover !important;
    background-position: center center !important;
    border-radius: 25px;
}

.card-hero {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
