.loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    color: #00c9d0;
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

    .loader div {
        background-color: #00c9d0;
        display: inline-block;
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        opacity: 0.5;
        border-radius: 50%;
        -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
        animation: ballPulseDouble 2s ease-in-out infinite;
    }

        .loader div:last-child {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }

@-webkit-keyframes ballPulseDouble {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ballPulseDouble {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#footer-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 98;
    background-color:inherit;
    /*background-color: rgba(249,249,249,0.98);*/
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.06);
    min-height: 60px;
    display: flex;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 300ms ease
}

    #footer-bar a {
        /*color: #1f1f1f;*/
        padding-top: 12px;
        position: relative;
        flex: 1 1 auto
    }

        #footer-bar a i {
            margin-top: -3px;
            font-size: 18px;
            position: relative;
            z-index: 2
        }

        #footer-bar a span {
            position: relative;
            z-index: 2;
            display: block;
            font-size: 10px;
            font-weight: 500;
            margin-top: -6px;
            opacity: 0.7;
            font-family: "Roboto",sans-serif !important
        }


.default-bottom-icon {
    color: #DA4453 !important;
}

.hz-container {
    display: flex;
    overflow-x: auto;
}

    .hz-container::-webkit-scrollbar {
        display: none;
    }

.footer-bar .active-nav strong {
    position: absolute;
    width: 50px;
    height: 4px;
    border-radius: 60px;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background-color: #4A89DC !important;
    color: #FFF;
}