<MudDialog>
	<TitleContent>
		<div class="d-flex flex-row">
			<MudIcon Icon="@Icons.Material.Filled.Storefront" Class="mr-3" />
			<MudText Typo="Typo.h5" Color="Color.Primary">DCMS</MudText>
		</div>
	</TitleContent>
	<DialogContent>
		<MudContainer>
			<MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-n1">安装经销商管家</MudText>
			<MudText Typo="Typo.subtitle2" Class="mb-n1">安装DCMS在你的主屏幕上显示，并像普通应用程序一样访问它，就这么简单!</MudText>
		</MudContainer>
	</DialogContent>
	<DialogActions>
		<MudButton OnClick="Cancel">下次再说</MudButton>
		<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">安装</MudButton>
	</DialogActions>
</MudDialog>

@code {
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	void Submit()
	{
		MudDialog.Close(DialogResult.Ok(true));
	}
	void Cancel() => MudDialog.Cancel();
}
