@namespace DCMS.Web.Pages.Dashboard.Home
@inherits AntDomComponentBase

@using AntDesign.Charts

<Card>
	<CardTabs>
		<div class="salesCard">
			<Tabs ActiveKeyChanged="OnTabChanged" TabBarStyle="margin-bottom: 24px;">
				<TabPane Key="1" Tab="月销售进度">
					<Row>
						<AntDesign.Col Xl="16" Lg="12" Md="12" Sm="24" Xs="24">
							<div style="padding:20px">


								<Line Data=linedata1 Config="lineconfig1" />
							</div>
						</AntDesign.Col>
						<AntDesign.Col Xl="8" Lg="12" Md="12" Sm="24" Xs="24">
							<div style="padding:20px">
								<Pie Data="data4" Config="config4" />
							</div>
						</AntDesign.Col>
					</Row>
				</TabPane>
				<TabPane Key="2" Tab="终端拜访量">
					<Row>
						<AntDesign.Col Xl="16" Lg="12" Md="12" Sm="24" Xs="24">
							<div style="padding:20px">
								<AntDesign.Charts.Column @ref="_visitChart" Config="_visitChartConfig" />
							</div>
						</AntDesign.Col>
						<AntDesign.Col Xl="8" Lg="12" Md="12" Sm="24" Xs="24">
							<div style="padding:20px">
								<Radar Data="Radardata2" Config="Radarconfig2" />
							</div>
						</AntDesign.Col>
					</Row>
				</TabPane>
			</Tabs>
		</div>
	</CardTabs>
</Card>


@code {

}
