@namespace ProLayout
@using OneOf
@inherits AntProComponentBase

<GlobalFooter>
    <Copyright>
        @if (!string.IsNullOrEmpty(Copyright))
        {
            <div>
                Copyright <Icon Type="copyright" /> @Copyright
            </div>
        }
    </Copyright>
</GlobalFooter>

@code
{
    [Parameter] public string Copyright { get; set; } = $"{DateTime.Now.Year} DCMS";
}