@namespace ProLayout
@inherits AntDomComponentBase

<footer class="@ClassMapper.Class" style="@Style" id="@Id">
    @if (Copyright != null)
    {
        <div class="@BaseClassName-copyright">@Copyright</div>
    }
</footer>