@page "/dashboard-commerce"
@inject Microsoft.Extensions.Localization.IStringLocalizer<DashboardCommerce> _localizer

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">
    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

    .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
    }

    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }

    .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
    }

    .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
    }
</style>

<MudPaper Elevation="3" Class="px-4 mx-n4 mt-n8 pt-5 pb-15 mud-theme-primary" Style="border-radius: 0px 0px 30px 30px;" Outlined="false">
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="0" Style="background-color: transparent" Class="d-flex mb-1 pa-0">
                <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-2 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 400;")">Welcome back,</MudText>
                    <MudText Color="Color.Default" Class="mt-n2" Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 600;")">BLAZOR VISITOR</MudText>
                </MudPaper>
                <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-0 ml-auto align-self-center">
                    <MudAvatar Image="/images/pictures/faces/3s.png" Style="height: 50px; width: 50px;"> </MudAvatar>
                </MudPaper>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudCarousel Style="height:200px;" Class="mt-n12 mb-0 rounded-xl" ShowArrows="true" ShowDelimiters="true" AutoCycle="true" TData="object">
    <DelimiterTemplate Context="selected">
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Style="font-size: 1rem !important;" Icon="@(selected ? "fas fa-window-minimize" : "far fa-window-minimize")" Color="Color.Dark" />
            </span>
        </div>
    </DelimiterTemplate>
    <ChildContent>
        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="rotateIn" CustomTransitionExit="rotateOut">
            <MudCard Outlined="false" Class="rounded-xl">
                <MudCardMedia Image="/images/8w.jpg" Height="200" />
            </MudCard>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
            <MudCard Outlined="false" Class="rounded-xl">
                <MudCardMedia Image="/images/13w.jpg" Height="200" />
            </MudCard>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
            <MudCard Outlined="false" Class="rounded-xl">
                <MudCardMedia Image="/images/15w.jpg" Height="200" />
            </MudCard>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>

<MudGrid Class="my-5" Spacing="2">
    <MudItem xs="6" sm="6" md="3">
        <MudCard Class="rounded-xl" Elevation="25" @onclick="(() => InvokeQrPinModal())">
            <MudCardContent Class="d-flex flex-column py-5">
                <MudAvatar Class="ma-2 align-self-center" Image="/images/redemption_icon.png" Style="height:60px; width:60px;"> </MudAvatar>
                <MudText Typo="Typo.caption" Style="font-weight: 500;" Align="Align.Center">Redemption</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="3">
        <MudCard Class="rounded-xl" Elevation="25">
            <MudCardContent Class="d-flex flex-column py-5">
                <MudAvatar Class="ma-2 align-self-center" Image="/images/delivery_icon.png" Style="height:60px; width:60px;"> </MudAvatar>
                <MudText Typo="Typo.caption" Style="font-weight: 500;" Align="Align.Center">My Orders</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="3">
        <MudCard Class="rounded-xl" Elevation="25">
            <MudCardContent Class="d-flex flex-column py-5">
                <MudAvatar Class="ma-2 align-self-center" Image="/images/coupon_icon.png" Style="height:60px; width:60px;"> </MudAvatar>
                <MudText Typo="Typo.caption" Style="font-weight: 500;" Align="Align.Center">Vouchers</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="3">
        <MudCard Class="rounded-xl" Elevation="25" >
            <MudCardContent Class="d-flex flex-column py-5">
                <MudAvatar Class="ma-2 align-self-center" Image="/images/reward_icon.png" Style="height:60px; width:60px;"> </MudAvatar>
                <MudText Typo="Typo.caption" Style="font-weight: 500;" Align="Align.Center">Rewards</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<div class="d-flex flex-row mt-5 mb-1">
    <MudIconButton Icon="fas fa-cubes" Color="Color.Info" Class="pr-3" Size="Size.Small"></MudIconButton>
    <MudText Color="Color.Default" Style="font-weight: 500;" Typo="Typo.subtitle1">Product Categories</MudText>
</div>
<div class="hz-container">
    <MudCard Elevation="0" Class="mr-2 rounded-xl" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
        <MudCardContent Class="d-flex flex-column mb-1 mt-1">
            <MudAvatar Class="ma-2 align-self-center" Image="/images/products/bag.jpg" Style="height:60px; width:60px;"> </MudAvatar>
            <MudText Typo="Typo.caption" Align="Align.Center">Bags</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="0" Class="mr-2 rounded-xl" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
        <MudCardContent Class="d-flex flex-column mb-1 mt-1">
            <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/1.png" Style="height:60px; width:60px;"> </MudAvatar>
            <MudText Typo="Typo.caption" Align="Align.Center">Gamings</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="0" Class="mr-2 rounded-xl" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
        <MudCardContent Class="d-flex flex-column mb-1 mt-1">
            <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/2.png" Style="height:60px; width:60px;"> </MudAvatar>
            <MudText Typo="Typo.caption" Align="Align.Center">Gadgets</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="0" Class="mr-2 rounded-xl" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
        <MudCardContent Class="d-flex flex-column mb-1 mt-1">
            <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/3.png" Style="height:60px; width:60px;"> </MudAvatar>
            <MudText Typo="Typo.caption" Align="Align.Center">Bags</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="0" Class="mr-2 rounded-xl" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
        <MudCardContent Class="d-flex flex-column mb-1 mt-1">
            <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/4.png" Style="height:60px; width:60px;"> </MudAvatar>
            <MudText Typo="Typo.caption" Align="Align.Center">Bags</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="0" Class="mr-2 rounded-xl" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
        <MudCardContent Class="d-flex flex-column mb-1 mt-1">
            <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/5.png" Style="height:60px; width:60px;"> </MudAvatar>
            <MudText Typo="Typo.caption" Align="Align.Center">Telecommunications</MudText>
        </MudCardContent>
    </MudCard>
</div>
 
<div class="d-flex flex-row mt-5 mb-1">
    <MudIconButton Icon="@Icons.Material.Filled.AutoAwesome" Color="Color.Error" Class="pr-3" Size="Size.Small"></MudIconButton>
    <MudText Color="Color.Default" Style="font-weight: 500;" Typo="Typo.subtitle1">Explore More</MudText>
</div>
<MudTabs Class="mb-3" Elevation="0" AlwaysShowScrollButtons="false" Rounded="true" ApplyEffectsToContainer="true">
    <MudTabPanel Text="Promotions">
        <MudGrid Spacing="2" Class="mt-1">
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/5.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/6.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/7.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/8.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/9.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/1.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="News">
        <MudGrid Spacing="2" Class="mt-1">
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/10.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/11.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/12.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/13.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/14.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/15.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Events">
        <MudGrid Spacing="2" Class="mt-1">
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/16.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/17.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/18.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/19.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/20.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardMedia Class="rounded-xl" Image="/images/pictures/21.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
</MudTabs>
