
<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
				<Login />
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<CascadingAuthenticationState>
				<LayoutView Layout="@typeof(NotFoundLayout)">
					<p>Sorry, there's nothing.</p>
				</LayoutView>
			</CascadingAuthenticationState>
		</NotFound>
	</Router>
	@* 注意：请不要移除AntContainer 初始化在这里*@
	<AntContainer />
</CascadingAuthenticationState>


