@using DCMS.Application.Models

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
<MudDialog>
    <TitleContent>
        <div class="d-flex flex-row">
            @*<MudIcon Icon="@Icons.Material.Filled.PersonPinCircle" Class="mr-3 mb-n1" />*@
            <MudText Typo="Typo.h5" Color="Color.Primary"></MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudPaper Elevation="0" Class="px-5 mx-n5 my-5 py-5 mud-theme-primary" Outlined="false" Square="true">
            <MudText Typo="Typo.h6" Style="font-weight: 600; text-align: center;">Member PIN Code</MudText>
            <MudText Typo="Typo.body2" Style="font-weight: 400; text-align: center;">Scan the generated QR Code below to get your member PIN code</MudText>

            <MudCard Class="d-flex justify-center rounded-lg mt-5 py-5">
                <img class="polaroid-effect" src="@ImgSrc" style="width: 200px; height: 200px;" />
            </MudCard>
        </MudPaper>
    </DialogContent>
</MudDialog>
}


@code {
    
}
